<%= form_with(model: folder, local: true) do |f| %>

  <div class="container registro sign-in-container">
    <h2>Documentos de inscripción</h2>
    <div class="tabs-container">
      <div class="tab">
        <div id="tab-1" class="tab-content">
          
          <div class="custom-form">


             <div class="row">
                    <div class="col-md-6">
                     <div class="field">
                    <label>Soporte estudios</label>
                    <%= f.file_field :soporte_estudios  %>
                  </div>
                </div>

                    <div class="col-md-6">
                  <div class="field">
                    <label>Referencia laboral</label>
                    <%= f.file_field :referencia_laboral  %>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-6">
                     <div class="field">
                    <label>Fotocopia de cedula</label>
                    <%= f.file_field :fotocopia_cedula  %>
                  </div>
                </div>

                    <div class="col-md-6">
                  <div class="field">
                    <label>Certificado de formación</label>
                    <%= f.file_field :certificado_formacion  %>
                  </div>
                </div>
              </div>

              
                <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <button type="submit" class="log-submit-btn">
                    <span>Continuar</span>
                  </button>
                </div>
              </div>



              <% end %>
