<style type="text/css">
.sign-in-container {
    max-width: 500px;
}
</style>
                      <div class="dashboard-list-box fl-wrap">
                    <div class="reviews-comments-wrap">
                        <% if @folders.size == 0 %>
                            <p>No se han creado candidatos con documentos</p>
                        <% end %>
                         <% @folders.each do |folder| %>
                           
                            <div class="reviews-comments-item">
                                <div class="reviews-comments-item-text">
                                  <div class="post-author"><%= image_tag("1.jpg") %> <span>Autor:  <%= folder.user.nombres %>  <%= folder.user.apellidos%></span></a></div>
                                    <div class="clearfix"></div>
                                    <p>Soporte de estudios: <%= link_to "Descargar soporte de estudios", folder.soporte_estudios_url %></p>
                                    <p>Soporte de estudios: <%= link_to "Descargar referencia laboral", folder.referencia_laboral_url %></p>
                                    <p>Soporte de estudios: <%= link_to "Descargar fotocopia de cedula", folder.fotocopia_cedula_url %></p>
                                    <p>Soporte de estudios: <%= link_to "Descargar certificado de formación", folder.certificado_formacion_url %></p>
              
                                    <span class="reviews-comments-item-date" style="color: black;"><i class="fa fa-calendar-check-o"></i><%= folder.created_at.strftime("%B, %d. Hora: %T") %></span>
                                      <td><%= link_to 'Show', folder %></td>
                                </div>
                            </div>
                                          
                    
                        <% end %>
                    </div>
                </div>

     