<p id="notice"><%= notice %></p>

<p>
  <strong>Soporte estudios:</strong>
  <%= @folder.soporte_estudios %>
</p>

<p>
  <strong>Referencia laboral:</strong>
  <%= @folder.referencia_laboral %>
</p>

<p>
  <strong>Fotocopia cedula:</strong>
  <%= @folder.fotocopia_cedula %>
</p>

<p>
  <strong>Certificado formacion:</strong>
  <%= @folder.certificado_formacion %>
</p>

<p>
  <strong>Certificado cuenta bancaria:</strong>
  <%= @folder.certificado_cuenta_bancaria %>
</p>

<p>
  <strong>Fondo pension:</strong>
  <%= @folder.fondo_pension %>
</p>

<p>
  <strong>Cesantias:</strong>
  <%= @folder.cesantias %>
</p>

<p>
  <strong>Certificado eps:</strong>
  <%= @folder.certificado_eps %>
</p>

<p>
  <strong>User:</strong>
  <%= @folder.user %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
