<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.0/sweetalert2.all.min.js"></script>
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
        <div class="logo-holder">
            <%= link_to root_path do %>
            <%= image_tag("werk-logo.png") %>
            <% end %>
        </div>
        <a class="add-list" onclick="mostrar()">Buscar empleo<span></span></a>
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <% if user_signed_in? %>
                    <li>
                        <a><%= current_user.nombres %> <%= current_user.apellidos %><i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li>
                                <%= link_to "Perfil", edit_user_registration_path %>
                            </li>
                            <li>
                                <%= link_to "Procesos", edit_user_registration_path %>
                            </li>
                            <li>
                                <%= link_to 'Crear carpeta laboral', folders_path, method: :create %>
                            </li>
                            <li>
                             <%= link_to "Blog", "/blogs" %>
                            </li>
                            
                            <li>
                                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, data: { confirm: '¿Deseas cerrar sesion?' }%>
                            </li>
                        </ul>
                    </li>
                    <% else %>
                    <li>
                        <%= link_to "Nosotros", "/nosotros" %>
                    </li>
                    <li>
                        <a>Cómo funciona</a>
                        <ul>
                            <li>
                                <%= link_to "Empresa", "/works" %>
                            </li>
                            <li>
                                <%= link_to "Candidato", "/works_candidato" %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>FAQ</a>
                        <ul>
                            <li>
                                <%= link_to "Empresa", "/faq" %>
                            </li>
                            <li>
                                <%= link_to "Candidato", "/faq_candidato" %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <%= link_to new_contact_path do %>
                        Contacto
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_session_path do %>
                        Iniciar sesión
                        <% end %>
                    </li>
                    <% end %>
                </ul>
            </nav>
        </div>
        <div class="nav-button-wrap color-bg">
            <div class="nav-button">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
function clickButton() {
    swal({
        title: '¿Deseas cerrar sesion?',
        text: "click para confirmar",
        type: 'warning',
        showCancelButton: true,
        showConfirmButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí',
        cancelButtonText: 'No'
    }).then((result) => {
  if (result.value) {
    cambiar();
  }
})
}

function cambiar() {
    location.href= '../users/sign_out'
}
</script>