<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
       <div class="logo-holder">
            <%= link_to root_path do %>
                <%= image_tag("werk-logo.png") %>
            <% end %>
        </div> 
     <!--   <a class="add-list" onclick="clickButton()">Buscar empleo<span></span></a> -->
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <% if user_signed_in? %>
                        <li>
                            <a><%= current_user.nombres %> <%= current_user.apellidos %><i class="fa fa-caret-down"></i></a>
                            <ul>
                               
                                <li><%= link_to "Perfil", edit_user_registration_path %></li>
                                <li><%= link_to "Procesos", edit_user_registration_path %></li>          
                                <li><%= link_to "Concientizate", "/education" %></li>
                                <li><%= link_to "Mi diario", "/diary" %></li>
                                 <li><%= link_to "Carpeta Laboral", "/profile" %></li>
                                  
                                <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="act-link">Notificaciones personalizadas (<%=@notifications.size%>) <i class="fa fa-caret-down"></i></a>
                            <!--second level -->   
                            <ul>
                                <% if @notifications.size == 0 %>
                                    <li><a>No hay notificaciones para ti</a></li>
                                <% end %>
                                <% @notifications.each do |notification| %>
                                    <li><a><%= notification["text"] %></a></li>
                                <% end %>
                            </ul>
                            <!--second level end-->                                
                        </li>
                    <% else %>
                        
                      
                           
                           

                           <li><%= link_to "Nosotros", "/nosotros" %></li>
                          
                           <li>
                            <a>Cómo funciona</a>
                            <ul>
                                 <li><%= link_to "Empresa", "/works" %></li>
                                   <li><%= link_to "Candidato", "/works_candidato" %></li>
                            </ul>
                        </li>

                         <li>
                            <a>FAQ</a>
                            <ul>
                                 <li><%= link_to "Empresa", "/faq" %></li>
                                   <li><%= link_to "Candidato", "/faq_candidato" %></li>
                            </ul>
                        </li>
                            
                            <li><%= link_to "Blog", "/blogs" %></li>  

                        <li>            
                            <%= link_to new_user_session_path do %>
                                Iniciar sesión
                            <% end %>
                        </li>

                    <% end %>
                </ul>
            </nav>
        </div>

        <div class="nav-button-wrap color-bg">
            <div class="nav-button">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    function clickButton(){
        swal({
            position: 'top-end',
            type: 'success',
            title: 'Atención',
            text: 'Las autoridades ya han sido notificadas y están en camino',
            showConfirmButton: true,
            showCancelButton: true
        })
    }
</script>