<section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    
    <div class="overlay"></div>
    
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap while">
                <!--<h2 style="font-weight: 700;">WERK</h2>-->
                <div class="open_title">
                <h3 >Tu próximo trabajo está aquí</h3>  
                <a href="#" class="botoncito add-list">Buscar empleo</a>
                </div>
                 <div class="imash">
                        <%= image_tag("1x/logo.png") %>
                        </div>
            </div>
        </div>
    </div>

    <div class="bubble-bg"> </div>
</section>

<script>
      var element = document.getElementById("jijs");
    element.classList.add("hider");
</script>

<!-- 
   <section>
    <div class="container">
        <div class="section-title">
            <h2>Nuestros aliados</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <%= image_tag("cdi_logo.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("met.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("onu-mujeres.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("wwb.png", :style => "width: 100%;") %>
            </div>
        </div>
       
    </div>
</section>