<section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }" >
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('1.jpg') %>"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('2.jpg') %>"></div>
        </div>   
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('3.jpg') %>"></div>
        </div> 
                  
    </div>
    <div class="overlay"></div>
    
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap">
                <h2 style="font-weight: 700;">nexo</h2>
                <h3 style="font-weight: 700;">La aplicación que te ayudará a gestionar tus tareas y empoderar tu toma de decisiones</h3>
            </div>
        </div>
    </div>

    <div class="bubble-bg"> </div>
</section>
<!-- section end -->
<section style="padding: 30px 0;">
    <div class="container">
        <div class="section-title">
            <h2>Contamos con expertos y diversas funcionalidades con el objetivo de que las mujeres tengan más control de sus desiciones</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
        <!--process-wrap  -->
        <div class="process-wrap fl-wrap">
            <ul>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-bars"></i></div>
                            <h4>Diversas aplicaciones para aprender a tomar desiciones</h4>
                         </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-diamond"></i></div>
                        <h4>Completo empoderamiento de tus decisiones para el fin de los estereotipos</h4>
                    </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-comments-o"></i></div>
                        <h4>Tips para mejorar tu inteligencia emocional y compartir experiencias en un grupo de mujeres</h4>
                    </div>
                </li>
            </ul>
        </div>
        <!--process-wrap   end-->
    </div>
</section>

<section>
    <div class="container">
        <div class="section-title">
            <h2>Nuestros aliados</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
        <!--process-wrap  -->
        <div class="row">
            <div class="col-md-3">
                <%= image_tag("cdi_logo.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("met.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("onu-mujeres.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("wwb.png", :style => "width: 100%;") %>
            </div>
        </div>
        <!--process-wrap   end-->
    </div>
</section>