<section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }" >
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('1.jpg') %>"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('2.jpg') %>"></div>
        </div>   
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('3.jpg') %>"></div>
        </div> 
                  
    </div>
    <div class="overlay"></div>
    
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap">
                <h2 style="font-weight: 700;">WERK</h2>
                <h3 style="font-weight: 700;">Tu próximo trabajo está aquí</h3>
            </div>
        </div>
    </div>

    <div class="bubble-bg"> </div>
</section>

<!-- 
   <section>
    <div class="container">
        <div class="section-title">
            <h2>Nuestros aliados</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <%= image_tag("cdi_logo.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("met.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("onu-mujeres.png", :style => "width: 100%;") %>
            </div>
            <div class="col-md-3">
                <%= image_tag("wwb.png", :style => "width: 100%;") %>
            </div>
        </div>
       
    </div>
</section>