<% if !@document.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @document, html: { multipart: true } do |f| %>
     <label>nombre</label>
      <%= f.text_field :name %>
      <label>Documento</label>
      <%= f.file_field :document %>
      <%= f.submit "Guardar", class: "btn btn-primary" %>
   <% end %>
</div>