<style type="text/css">
.sign-in-container {
    max-width: 500px;
}
</style>

<section class="sec1">
  

  <div class="registro container sign-in-container">+
     <h2>Información Empresarial</h2>
    <div class="tabs-container">
      <div class="tab">
        <div id="tab-1" class="tab-content">
          <div class="custom-form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              
              <% if devise_error_messages!.present? %>
                <script type="text/javascript">
                  toastr['error']('<%= devise_error_messages!.gsub(/\t/, "").gsub(/\n/, "").html_safe %>')
                </script>
              <% end %>

              <div class="row">
          
                <div class="col-md-6">
                  <div class="field">
                    <label>Correo electrónico</label>
                    <%= f.text_field :email %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="field">
                 <label>Razón social</label>
                    <%= f.text_field :nombre %>
                  </div>
               
                </div>
              </div>


               <div class="row">
          
                <div class="col-md-6">
                  <div class="field">
                     <label>Telefono</label>
                    <%= f.text_field :telefono %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="field">
                     <label>Dirección</label>
                    <%= f.text_field :direccion %>
                  </div>
               
                </div>
              </div>


               <div class="row">
          
               <div class="col-md-6">
                  <div class="field">
                   <label>Cargar rut de la compañia</label>
                    <%= f.file_field :rut %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="field">
                    <label>Nit</label>
                    <%= f.text_field :nit %>
                  </div>
               
                </div>
              </div>

                    <div class="row">
          
               <div class="col-md-6">
                  
                 <label> Sector</label>
                  <%= f.select :sector, options_for_select([["Tecnología", "Tecnología"],["Alimentos", "Alimentos"],["Construcción","Construcción"],["Servicios", "Servicios"]]), {:prompt => "Sector"}, {:class => "chosen-select", required: true} %> 
                </div>


                <div class="col-md-6">
                  <div class="field">
                    <label>Nombre representante</label>
                    <%= f.text_field :nombre_representante %>
                  </div>
               
                </div>
              </div>

            
            
              <div class="row">
                <div class="col-md-6">
                  <div class="field">
                    <%= f.label :password, (@minimum_password_length) ? "Contraseña (#{@minimum_password_length} caracteres mínimo)" : "" %>
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="field">
                    <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
                </div>
              </div>

                <p>Al hacer click en “continuar” acepta los <a href="/terminos_condiciones">Términos y condiciones</a> y <a href="/politicas">la Política de
                Privacidad.</a></p>

              <div class="row">
                <div class="col-md-8 col-md-offset-4">
                  <button type="submit" class="log-submit-btn">
                    <span>Continuar</span>
                  </button>
                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>