<!--<p id="notice"><%= notice %></p>-->
<div class="oferta">
<p>
  <%= @offer.tipo %>
</p>

<p>
  <%= @offer.nombre_cargo %>
</p>

<p>
  <strong>Tipo contrato:</strong>
  <%= @offer.tipo_contrato %>
</p>

<p>
  <strong>Salario :</strong>
  <%= @offer.salario_float %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @offer.objetivo %>
</p>

<p>
  <strong>Educacion minima:</strong>
  <%= @offer.educacion_minima %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @offer.experiencia %>
</p>

<p>
  <strong>Idiomas:</strong>
  <%= @offer.idiomas %>
</p>

<p>
  <strong>Programas:</strong>
  <%= @offer.programas %>
</p>

<p>
  <strong>Conocimientos especificos:</strong>
  <%= @offer.conocimientos_especificos %>
</p>

<p>
  <strong>Disponibilidad viajar:</strong>
  <%= @offer.disponibilidad_viajar %>
</p>

<p>
  <strong>Disponibilidad residencia:</strong>
  <%= @offer.disponibilidad_residencia %>
</p>

<p>
  <strong>Vacantes:</strong>
  <%= @offer.vacantes %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>

</div>
