<section>
    <div class="container">
        <div class="section-title">
            <h2>Tu registro de conversaciones</h2>
            <span class="section-separator"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="profile-edit-container">
                    <div class="custom-form">                                             
                        <%= form_for(@text) do |f| %>
                            <%= f.text_area :texto, cols: 40, rows: 3 %>
                            <button class="btn  big-btn  color-bg flat-btn" style="text-decoration: none; position: relative; border-width: inherit; border-style: inherit; border-color: inherit; border-image: inherit; font: inherit; cursor: pointer; padding: 10px; margin: 0 auto; margin-bottom: 20px; margin-top: 20px;">Crear mensaje</button>
                        <% end %>
                    </div>
                </div>
                <br><br>
                <div class="result"></div>
                <div class="dashboard-list-box fl-wrap">
                    <div class="reviews-comments-wrap">
                        <% if @texts.size == 0 %>
                            <p>No tienes conversaciones actualmente, crea una</p>
                        <% end %>
                        <% @texts.each do |text|%>
                            <!-- reviews-comments-item -->  
                            <div class="reviews-comments-item">
                                <div class="reviews-comments-item-text">
                                    <h4>Pantallazo creado el <%= text.created_at.strftime("%B, %d") %></h4>
                                    <div class="clearfix"></div>
                                    <p>Texto en WhatsApp: <%= text.texto %></p>
                                    <p>Emoción: <%= text.emocion %></p>
                                    <p>Detectada como <%= (text.status == 1) ? "conducta normal" : "conducta agresiva"%></p>
                                    <span class="reviews-comments-item-date" style="color: black;"><i class="fa fa-calendar-check-o"></i><%= text.created_at.strftime("%B, %d. Hora: %T") %></span>
                                </div>
                            </div>
                            <!--reviews-comments-item end-->
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
