<!DOCTYPE html>
<html>

<head>
    <title>Werk | encuentra tu trabajo ideal</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', async: Rails.env.production?, cache: Rails.env.production? %>
    <%= render 'shared/favicon' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
    .st0 {
        stroke-width: 50;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-linejoin: miter;
    }

    .st1 {
        stroke-width: 50;
        stroke-miterlimit: 10;
        fill:none;stroke:#E5E25A;
    }
    .tech{
        background: #102f41;
        width: 100%;
        height: 100%;
    }
    </style>
</head>

<body>
    <div class="loader-wrap tech">
        <div class="pin">
            <div class="visual-container">
                <svg viewBox="0 0 563 800" class="stroke-lines on">
                    <path class="st0" fill="none" stroke="#fff" stroke-linejoin="bevel" stroke-miterlimit="10" d="M80.18,464.98h380.93c0,0,5.27-213.53-197.71-213.53c-63.34,0-123.43,23.96-159.48,77.69
        c-51.68,77.04-47.84,179.78-6.19,260.28c27.9,53.93,77.17,94.17,138.44,101.93c9.03,1.14,18.13,1.66,27.23,1.66
        c115.84,0,165.25-52.04,185.13-92.6" />
                </svg>
                <svg viewBox="0 0 563 800" class="stroke-lines paralax on">
                    <path class="st0" fill="none" stroke="#cfe3db" stroke-linejoin="bevel" stroke-miterlimit="10" d=
                    "M80.18,464.98h380.93c0,0,5.27-213.53-197.71-213.53c-63.34,0-123.43,23.96-159.48,77.69
        c-51.68,77.04-47.84,179.78-6.19,260.28c27.9,53.93,77.17,94.17,138.44,101.93c9.03,1.14,18.13,1.66,27.23,1.66
        c115.84,0,165.25-52.04,185.13-92.6" />
        <line class="st1" x1="26.88" y1="63.85" x2="496.85" y2="63.85"/>

                </svg>
                <div class="loader_text">
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <%= render 'shared/navbar' unless @disable_nav %>
        <%= render 'shared/message' %>
        <div id="wrapper">
            <div class="content">
                <%= yield %>
            </div>
        </div>
        <footer>
        </footer>
        <a class="to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
    </div>
</body>

</html>